* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

$Dark-Gray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$Very-Dar-Gray: hsl(0, 0%, 27%);
$imgPath: "../images";
$hero-img: "/desktop-image-hero-1.jpg";
$hero-mobile: "/mobile-image-hero-1.jpg";
$hero-mobile2: "/mobile-image-hero-2.jpg";
$hero-mobile3: "/mobile-image-hero-3.jpg";
$hero-img2: "/desktop-image-hero-2.jpg";
$hero-img3: "/desktop-image-hero-3.jpg";
$about__left__img: "/image-about-dark.jpg";
$about__right__img: "/image-about-light.jpg";


@mixin responsiveness($size) {
 @if ($size == mobile) {
    @media (max-width:700px) {
     @content
    }
 }
};

@mixin animation($item) {
 @if ($item == prev) {
  @content
 }
}

body {
 font-family: "League Spartan", sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
}

.container {
 width: 100%;
 height: 130vh;
 position: relative;
 overflow: hidden;
 @include responsiveness(mobile) {
    height: 170vh;
 }
}

.nav {
 display: flex;
 width: 35%;
 justify-content: space-between;
 height: 80px;
 align-items: center;
 padding: 20px;
 position: relative;
 z-index: 3;
 background: transparent;
 @include responsiveness(mobile) {
    top: 20px;
    margin-left: 10px;
    width: 60%;
   }
}

.menu {
 display: none;
 @include responsiveness(mobile) {
   display: block;
   }
}

.top-nav {
 display: none; 
 @include responsiveness(mobile) {
  position: fixed;
  z-index: 50;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  backdrop-filter: blur;
  
}
}

.block {
 display: block;
 animation: down 1s ease-out  forwards;
}



.closeNav {
 animation: up 1s ease-out  forwards;
}

@keyframes down {
    from {transform: translateY(-1000px);}
    to {transform: translateY(0);}
   }

@keyframes up {
    from {transform: translateY(0);}
    to {transform: translateY(-1000px);}
}
.top__nav__cont {
 background-color: $White;
 display: flex;
 height: 100px;
 align-items: center;
 opacity: 1;
 width: 100%;
 justify-content: space-between;
 padding: 20px;
}


.top__nav__list {
 display: flex;
 width: 80%;
 justify-content: space-around;
 list-style: none;
}

.nav__list {
 display: flex;
 width: 65%;
 color: $White;
 justify-content: space-between;
 list-style: none;
 text-transform: lowercase;
 @include responsiveness(mobile) {
    display: none;
 }
}

li {
 padding: 10px;
 border-bottom: 1.5px solid transparent;
 transition: all .5s ease-out;
}

li:hover {
  border-color: $White;
}


main {
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
}

.hero {
 display: flex;
 height: 60%;
 width: 100%;
 overflow: hidden;
 @include responsiveness(mobile) {
   height: 50%;
   flex-direction: column;
   position: relative;
 }
}

.hero__left__container {
 height: 100%;
 width: 60%;
 @include responsiveness(mobile) {
    height: 50%;
    width: 100%;
    position: relative;
  }
}
.hero__left {
 background: url(#{$imgPath}#{$hero-img});
 background-repeat: no-repeat;
 background-size: cover;
 background-position: 0px center;
 height: 100%;
 width: 100%;
 display: none;
 @include responsiveness(mobile) {
    background: url(#{$imgPath}#{$hero-mobile});
  }
}

.im2 {
 background: url(#{$imgPath}#{$hero-img2});
 @include responsiveness(mobile) {
    background: url(#{$imgPath}#{$hero-mobile2});
  }
}

.im3 {
 background: url(#{$imgPath}#{$hero-img3});
 @include responsiveness(mobile) {
    background: url(#{$imgPath}#{$hero-mobile3});
  }
}

.hero__right {
 width: 40%;
 display: grid;
 place-items: center;
 position: relative;
 overflow: hidden;
 @include responsiveness(mobile) {
   width: 100%;
   height: 50%;
   position: static;
  }
}

.hero__right__content {
 width: 80%;
 display: none;
 height: 55%;
 flex-direction: column;
 justify-content: space-around;
 @include responsiveness(mobile) {
    width: 95%;
    height: 80%;
    justify-content: flex-start;
    gap: 20px;
   }
}

h2 {
 font-size: 40px;
}

.hero__para {
 font-size: 15px;
 width: 95%;
 line-height: 1.5;
 color: $Dark-Gray;
}

button {
 width: 50%;
 border: none;
 background: transparent;
 display: flex;
 gap: 10px;
 align-items: center;
 text-transform: uppercase;
 letter-spacing: 6px;
 transition: fill .5s ease-out, color .5s ease-out;
}

button:hover {
 color: $Dark-Gray;
 fill: $Dark-Gray;
}

.slider-navigation {
 position: absolute;
 bottom: 0;
 background-color: $Black;
 height: 50px;
 width: 120px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 left: 0;
 @include responsiveness(mobile) {
    bottom: 50%;
    left: 270px;
    z-index: 100;
   }
}

.fade2 {
 animation: fade2 .5s ease-out   forwards;
}
   
@keyframes fade2 {
    from {transform: translateX(-1000px); opacity: .4;}
    to {transform: translateX(0);opacity: 1;}
}

.prev-div,.next-div {
 display: grid;
 place-items: center;
 height: 50px;
 width: 60px;
 transition: background-color .5s ease-out;
}

.fade {
 animation: fade .5s ease-out   forwards;
 
}

@keyframes fade {
    from {transform: translateX(1000px); opacity: .4;}
    to {transform: translateX(0);opacity: 1;}
}

.about {
 display: flex;
 height: 35%;
 width: 100%;
 @include responsiveness(mobile) {
    flex-direction: column;
    width: 100%;
    height: 50%;
  }
}

.about__left {
 height: 100%;
 background: url(#{$imgPath}#{$about__left__img}) ;
 width: 30%;
 background-repeat: no-repeat;
 background-size: cover;
 @include responsiveness(mobile) {
    height: 230px;
    width: 100%;
}
    
}

.about__center {
 width: 40%;
 height: 100%;
 display: grid;
 place-items: center;
 @include responsiveness(mobile) {
    height: 260px;
    width: 100%;
}
    

}

.about__center__content {
 display: flex;
 width: 95%;
 flex-direction: column;
 height: 50%;   
 gap: 10px;
 @include responsiveness(mobile) {
   height: 80%;
   margin: auto;
   width: 82%;
}
    
    
}


h3 {
 text-transform: uppercase;
 letter-spacing: 5px;
}

.about__center__content p{
  font-size: 15px;
  line-height: 1.5;
  color: $Dark-Gray;

}
.about__right {
 height: 100%;
 background: url(#{$imgPath}#{$about__right__img}) ;
 width: 30%;
 @include responsiveness(mobile) {
    height: 230px;
    width: 100%;
}
}